<!DOCTYPE HTML>
<html>
  <head>
    {% load staticfiles %}
    <title>Oppss | 404 não encontrado</title>
    <link href="{% static 'css/error.css' %}" rel="stylesheet" type="text/css"  media="all" />
  </head>
  <body>
    <div class="wrap">
      <div class="header">
        <div class="logo">
          <h1><a href="#">Oppss</a></h1>
        </div>
      </div>
      <div class="content">
        <img src="{% static 'img/error-img.png' %}" title="error" />
        <p><span><label>O</label>ppss.....</span> A página que você procura não está aqui!.</p>
        <a href="http://royaltechschool.azurewebsites.net">Voltar para a home</a>
      </div>
    </div>
  </body>
</html>

