<!DOCTYPE html>
<html lang="pt-br">
    <head>
    
    <title>Portal - Aluno </title>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="/static/css/EstiloPortal.css">

    <!--Link de Fontes-->
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">

  <style>
        .calendario img{
            width: 80%;
           
        }
    </style></head>
    
    
  <body>
      <div id="lateral">
          <div id="menu">
            <h3 class="link-titulo">Secretaria</h3>
            <ul class="box">	
                <li><a href="http://royaltechschool.azurewebsites.net/">Home</a></li>					
              <li><a href="http://royaltechschool.azurewebsites.net/portal/boletim">Boletim</a></li>
              <li><a href="http://royaltechschool.azurewebsites.net/portal/calendario-geral">Calendário de Aulas</a></li>
              <li><a href="#">Horário das Aulas</a></li>
              <li><a href="http://royaltechschool.azurewebsites.net/portal/dados/aluno">Alterar Dados</a></li>
    
            </ul>
            <h3 class="link-titulo">Financeiro</h3>
            <ul class="box">
              <li><a href="#">Pagamentos</a></li>
            </ul>
            <h3 class="link-titulo">Acesso as Aulas</h3>
            <ul class="box">					
              <li><a href="http://royaltechschool.azurewebsites.net/portal/aulas-gravadas">Aulas Gravadas</a></li> 			
              <li><a href="#">Entrega de Trabalhos</a></li> 		
              <li><a href="http://royaltechschool.azurewebsites.net/portal/entrega-atividades">Entrega de Atividades</a></li> 	
    
            </ul>
          </div> 
        </div>
    <p>Calendário Geral</p><hr class="hr-trabalho">
    <br>
    <div class="container">
        <div class="content">
            <div class="calendario">
                <img src="{% static 'img/calendario-geral.jfif' %}" title="Calendário Geral" alt="Calendário Geral"/>
    </div>
      </div>
    </div>

    <div id="footer" class="footer" data-bind="css: { 'default': !backgroundLogoUrl() }"> 
      <div>
        <span id="ftrCopy" data-bind="html: svr.B2"><center>©2017 Royal Tech</center></span>
      </div> 
    </div> 

</body>
</html>