<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    <title>Portal - Professor </title>
    <meta charset="utf-8"/>

    <link rel="stylesheet" type="text/css" href="{% static 'css/EstiloMenuAlunoProf.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{5 static 'css/EstiloPortal.css' %}"/>


    <!--Link de Fontes-->
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

  </head>
  <body background="{% static 'img/fundoportal.png' %}">

    <div id="lateral">
        <div id="menu">
          <h3 class="link-titulo">Secretaria</h3>
          <ul class="box">	
              <li><a href="http://royaltechschool.azurewebsites.net/">Home</a></li>				
            <li><a href="http://royaltechschool.azurewebsites.net/portal/boletim">Boletim</a></li>
            <li><a href="http://royaltechschool.azurewebsites.net/portal/calendario-geral">Calendário de Aulas</a></li>
            <li ><a href="#">Horário das Aulas</a></li>
            <li ><a href="http://royaltechschool.azurewebsites.net/portal/dados/aluno">Alterar Dados</a></li>
  
          </ul>
          <h3 class="link-titulo">Financeiro</h3>
          <ul class="box">
            <li><a href="#">Pagamentos</a></li>
          </ul>
          <h3 class="link-titulo">Acesso as Aulas</h3>
          <ul class="box">					
            <li><a href="http://royaltechschool.azurewebsites.net/portal/professor/subir-aula/">Subir Aula</a></li> 			
            <li><a href="#">Entrega de Trabalhos</a></li> 		
            <li><a href="http://royaltechschool.azurewebsites.net/portal/entrega-atividades">Entrega de Atividades</a></li> 	
  
          </ul>
        </div> 
      </div>
    <br><br>
    <div class="base2">

      <div class="DPessoais">

        <!--<input type="file">-->

        <br><br><br>
        <form class="form-horizontal">
          {% csrf_token %}
          <fieldset>
            <legend>Dados pessoais</legend>
            <div class="control-group">
              <label id="label-nome" class="control-label" for="nome">
                Nome:
              </label>
              <div class="controls">
                {{ form.usuario_nome }}
                <span class="needed">* Nome deve estar igual Receita Federal</span>
              </div>
            </div>

            <div class="control-group">
              <label id="label-email" class="control-label" for="email">
                E-Mail:
              </label>
              <div class="controls">
                {{ form.usuario_email }}
                <span class="needed">* Deve ser um E-mai válido.</span>
              </div>
            </div>

            <div class="control-group">
              <label id="label-telefone" class="control-label" for="telefone">
                Telefone:
              </label>
              <div class="controls">
                <input type="uint" class="input-xlarge" id="txtfield-telefone" name="telefone" maxlength="11">
              </div>
            </div>

            <div class="control-group">
              <label id="label-celular" class="control-label" for="celular">
                Celular:
              </label>
              <div class="controls">
                <input type="uint" class="input-xlarge" id="txtfield-celular" name="celular" maxlength="11">
              </div>
            </div>

            <div class="control-group">
              <label id="label-comercial" class="control-label" for="comercial">
                Comercial:
              </label>
              <div class="controls">
                <input type="uint" class="input-xlarge" id="txtfield-comercial" name="comercial" value="" maxlength="11">
              </div>
            </div>
            <div class="troca-foto">
              <h6>Troque a foto.</h6>
              <img id="LoginPicture" src="{% static 'img/foto.png' %}"></div>
            <input type="file" value="foto-perfil">
            </div>
          </fieldset>
          <fieldset>
            <legend>Dados de endereço</legend>
            <div class="control-group">
              <label id="label-cep" class="control-label" for="cep">
                Cep<span class="needed">*</span>:
              </label>
              <div class="controls">
                <input type="text" class="input-xlarge" id="txtfield-cep" placeholder="99999-999" name="cep" value="">

              </div>
            </div>



            <div class="control-group">
              <label id="label-logra" class="control-label" for="logra">
                Endereço<span class="needed">*</span>:
              </label>
              <div class="controls">
                <input type="text" class="input-xlarge" id="txtfield-logra" maxlength="102" name="logra" value="">
              </div>
            </div>

            <div class="control-group">
              <label id="label-cidade" class="control-label" for="cidade">
                Cidade<span class="needed">*</span>:
              </label>
              <div class="controls">
                <input type="text" class="input-xlarge" id="txtfield-cidade" maxlength="32" name="cidade" value="">
              </div>
            </div>

            <div class="control-group">
              <label id="label-bairro" class="control-label" for="bairro">
                Bairro<span class="needed">*</span>:
              </label>
              <div class="controls">
                <input type="text" class="input-xlarge" id="txtfield-bairro" maxlength="32" name="bairro" value="">
              </div>
            </div>

            <div class="control-group">
              <label id="label-numero" class="control-label" for="numero">
                Número:
              </label>
              <div class="controls">
                <input type="text" class="input-xlarge" id="txtfield-numero" name="numero" value="" maxlength="8">
              </div>
            </div>

            <div class="control-group">
              <label id="label-comp" class="control-label" for="comp">
                Complemento:
              </label>
              <div class="controls">
                <input type="text" class="input-xlarge" id="txtfield-comp" name="comp" value="" maxlength="8">
              </div>
            </div>

            <div class="control-group">
              <label id="label-senha" class="control-label" for="comp">
                Senha:
              </label>
              <div class="controls">
                {{ form.usuario_passowrd }}		
              </div>
            </div>

            <div class="confirm-alteracao">
              <a href="PortalProfessor.html" class="botao-salvar" id="salvar-alteracoes" href="javascript:void(0)">Salvar</a>
            </div>
          </fieldset>
        </form>
      </div>
    </div>


    <div id="footer" class="footer" data-bind="css: { 'default': !backgroundLogoUrl() }"> 
      <div>
        <span id="ftrCopy" data-bind="html: svr.B2"><center>©2017 Royal Tech</center></span>
      </div> 
    </div> 
  </body>
</html>