<!DOCTYPE html>
<html lang='pt-br'>
  <head>
    {% load staticfiles %}
    <title>Portal - Aluno </title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/EstiloPortal.css' %}"/>
  </head>
  <body>
      <div id="lateral">
          <div id="menu">
            <h3 class="link-titulo">Secretaria</h3>
            <ul class="box">					
              <li><a href="http://royaltechschool.azurewebsites.net/portal/boletim">Boletim</a></li>
              <li><a href="http://royaltechschool.azurewebsites.net/portal/calendario-geral">Calendário de Aulas</a></li>
              <li ><a href="#">Horário das Aulas</a></li>
              <li ><a href="http://royaltechschool.azurewebsites.net/portal/dados/aluno">Alterar Dados</a></li>
    
            </ul>
            <h3 class="link-titulo">Financeiro</h3>
            <ul class="box">
              <li><a href="#">Pagamentos</a></li>
            </ul>
            <h3 class="link-titulo">Acesso as Aulas</h3>
            <ul class="box">					
              <li><a href="http://royaltechschool.azurewebsites.net/portal/aulas-gravadas">Aulas Gravadas</a></li> 			
              <li><a href="#">Entrega de Trabalhos</a></li> 		
              <li><a href="http://royaltechschool.azurewebsites.net/portal/entrega-atividades">Entrega de Atividades</a></li> 	
    
            </ul>
          </div> 
        </div>
    <div class="base">

      <div class="row-fluid">
        <img id="LoginPicture" src="{% static 'img/foto.png' %}"></div>
      <!--<input type="file">-->
      <span><div class="DPessoaisA" id="LoginContent">
          <div class="row-fluid">
            <div class="span4">
              <div class="p"><h6>Nome:</h6><p>{{ username }}</p> <strong>Aluno</strong></div>
              <div class="p"><h6>RA:</h6><p>{{ ra }}</p></div>
            </div>
            <div class="span8">
              <div class="p"><h6>Curso:</h6><p></p> <strong>Matéria</strong></div>
            </div>
          </div>
        </div>
        <button class="botao-dados" type="submit"><a href="dados/aluno">Alterar Dados</a></button>
        <button class="botao-sair"><span><a href="logout">Sair</a></span></button>

    </div>
    <br><br><br>
    <div>
      <fieldset class="mural">
        <center><h1>Mural de Recados<hr></h1></center>
        <div class="recado1">
          <h3>Notas</h3><br>
          
        </div>

        <div class="recado2">
          <h3>Semana de Provas</h3><br>
          
        </div>

        <div class="recado3">
          <h3>Algo algo </h3><br>
          
        </div>
      </fieldset>
    </div>
    <div id="footer" class="footer" data-bind="css: { 'default': !backgroundLogoUrl() }"> 
      <div>
        <span id="ftrCopy" data-bind="html: svr.B2"><center>©2017 Royal Tech</center></span>
      </div> 
    </div> 
  </body>
</html>