<!DOCTYPE html>
<html lang='pt-br'>
  <head>
    {% load staticfiles %}
    <title>Portal - Aluno </title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/EstiloPortal.css' %}"/>
  </head>
  <body>
    <div id="lateral">
      <div id="menu">
        <h3 class="link-titulo">Secretaria</h3>
        <ul class="box">					
          <li><a href="boletim">Boletim</a></li>
          <li><a href="calendario-geral">Calendário de Aulas</a></li>
          <li ><a href="horario-aulas.html">Horário das Aulas</a></li>
          <li ><a href="dadosA.html">Alterar Dados</a></li>

        </ul>
        <h3 class="link-titulo">Financeiro</h3>
        <ul class="box">
          <li><a href="pagamentos.html">Pagamentos</a></li>
        </ul>
        <h3 class="link-titulo">Acesso as Aulas</h3>
        <ul class="box">					
          <li><a href="AulasGravadas.html">Aulas Gravadas </a></li> 			
          <li><a href="entrega-trabalho.html">Entrega de Trabalhos</a></li> 		
          <li><a href="entrega-atividades.html">Entrega de Atividades</a></li> 	

        </ul>
      </div> 
    </div>
    <div class="base">

      <div class="row-fluid">
        <img id="LoginPicture" src="{% static 'img/foto.png' %}"></div>
      <!--<input type="file">-->
      <span><div class="DPessoaisA" id="LoginContent">
          <div class="row-fluid">
            <div class="span4">
              <div class="p"><h6>Nome:</h6><p></p> <strong>Aluno</strong></div>
              <div class="p"><h6>RA:</h6><p></p> <strong>###### </strong></div>
            </div>
            <div class="span8">
              <div class="p"><h6>Curso:</h6><p></p> <strong>Matéria</strong></div>
            </div>
          </div>
        </div>
        <button class="botao-dados" type="submit"><a href="dadosA.html">Alterar Dados</a></button>
        <button class="botao-sair"><span><a href="index.html">Sair</a></span></button>

    </div>
    <br><br><br>
    <div>
      <fieldset class="mural">
        <center><h1>Mural de Recados<hr></h1></center>
        <div class="recado1">
          <h3>Notas</h3><br>
          <h5>#########
            <br>p####
            #######m<br> ####
            ###ao que<br> espamos ##
            nos##ivo.</h5>
        </div>

        <div class="recado2">
          <h3>Semana de Provas</h3><br>
          <h5>P###ias coisas.</h5>
        </div>

        <div class="recado3">
          <h3>Algo algo </h3><br>
          <h5>No ##a
            <strong>##ião </strong>para##ição
            de novas##ssos cursos.</h5>
        </div>
      </fieldset>
    </div>
    <div id="footer" class="footer" data-bind="css: { 'default': !backgroundLogoUrl() }"> 
      <div>
        <span id="ftrCopy" data-bind="html: svr.B2"><center>©2017 Royal Tech</center></span>
      </div> 
    </div> 
  </body>
</html>